<div class="navbar navbar-default navbar-static-top">
   <div class="navbar-inner">
     <div class="container">
       
       <h1><%= Refinery::Core.site_name %></h1>
       <div><%= navigation_menu.to_html %></div>
    </div>
  </div>
</div>
