<div class="form-search">
  <%= form_tag refinery.search_root_path, method: 'get' do %>
    <%= label_tag 'query', "Search" %>
    <%= text_field_tag :query, {}, {type: "search", placeholder: "for what?", value: (params[:query] if params[:query])} %>
    <button class="submit"><%= submit_tag "Find" %></button>
  <% end %>
</div>
